In [1]:
import os
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Who is the Chapter's Biggest Simp?

In [2]:
streaming_hist_shrav = pd.read_json("./data/shrav/StreamingHistory0.json")
streaming_hist_shrav

,endTime,artistName,trackName,msPlayed
0,2020-04-24 03:56,H.E.R.,Slide,179161
1,2020-04-24 05:34,Juice WRLD,Righteous,41784
2,2020-04-25 01:19,Hippie Sabotage,Your Soul,324806
3,2020-04-25 01:22,Hippie Sabotage,Sunny,174358
4,2020-04-25 01:31,Bryce Vine,Drew Barrymore,191146
...,...,...,...,...
9995,2020-12-20 21:04,Gryffin,Tie Me Down (with Elley Duhé),218295
9996,2020-12-20 21:41,Ghastly,LSD,2670
9997,2020-12-20 21:41,Shawn Mendes,If I Can't Have You - Gryffin Remix,74756
9998,2020-12-20 21:44,Martin Garrix,In the Name of Love,195706
9999,2020-12-20 21:49,Seven Lions,First Time (feat. Dylan Matthew),297782

Top 10 Artists w/ Sad Songs:
- Giveon 
- Frank Ocean 
- Drake (Marvins Room)
- The Weeknd (Twenty Eight/Call Out My Name)
- Daniel Ceaser 
- Joji
- XXXTENTACION
- Juice WRLD
- Billie Eilish
- Jeremy Zucker
#

In [3]:
sorted_most_played_artists = streaming_hist_shrav.groupby('artistName').sum().sort_values('msPlayed', ascending=False).reset_index()

In [4]:
sorted_most_played_artists.head(10)

        artistName  msPlayed
0  Hippie Sabotage  31109414
1            Drake  29300596
2     Travis Scott  28486131
3       Juice WRLD  26041341
4           Khalid  25478513
5          Kehlani  24559415
6  Louis The Child  23170975
7      Alina Baraz  21039713
8         Big Sean  20958983
9    Daniel Caesar  19519395

In [5]:
#Extract into function
def find_top10_played_artists(df):
    sorted_most_played_artists = df.groupby('artistName').sum().sort_values(
        'msPlayed', ascending=False).reset_index()
    return sorted_most_played_artists.head(10)

In [6]:
find_top10_played_artists(streaming_hist_shrav)

        artistName  msPlayed
0  Hippie Sabotage  31109414
1            Drake  29300596
2     Travis Scott  28486131
3       Juice WRLD  26041341
4           Khalid  25478513
5          Kehlani  24559415
6  Louis The Child  23170975
7      Alina Baraz  21039713
8         Big Sean  20958983
9    Daniel Caesar  19519395

In [7]:
#sort by particular artists:
simp_artists = ['Giveon', 'Frank Ocean', 'Drake', 'The Weeknd', 'Daniel Caesar', 'Joji', 'XXXTENTACION', 'Juice WRLD', 'Billie Eilish', 'Jeremy Zucker']
filter_artists = streaming_hist_shrav[streaming_hist_shrav['artistName'].isin(simp_artists)]
top_simp_artists = filter_artists.groupby('artistName').sum().sort_values('msPlayed', ascending=False).reset_index()

In [8]:
top_simp_artists

      artistName  msPlayed
0          Drake  29300596
1     Juice WRLD  26041341
2  Daniel Caesar  19519395
3     The Weeknd  18316689
4    Frank Ocean   6765110
5   XXXTENTACION   6315684
6  Jeremy Zucker   5955367
7  Billie Eilish   2336389
8           Joji    485497

In [9]:
#Extract into function
def find_simp_artists(df):
    simp_artists = ['Giveon', 'Frank Ocean', 'Drake', 'The Weeknd', 'Daniel Caesar', 'Joji', 'XXXTENTACION', 'Juice WRLD', 'Billie Eilish', 'Jeremy Zucker']
    filter_artists = df[df['artistName'].isin(simp_artists)]
    top_simp_artists = filter_artists.groupby('artistName').sum().sort_values('msPlayed', ascending=False).reset_index()
    total = top_simp_artists['msPlayed'].sum()
    return total

In [10]:
find_simp_artists(streaming_hist_shrav)

115036068

Find All Streaming History Files in a User Folder

In [11]:
test_path = './data/shrav'
for root, dirs, files in os.walk(test_path):
    for filename in files:
        if 'StreamingHistory' in filename:
            print(filename)

StreamingHistory0.json
StreamingHistory1.json

In [12]:
#get streaming history for all users

def get_all_user_streaming_history(user_path):
    all_streaming_history = []
    for root, dirs, files in os.walk(user_path):
        for filename in files:
            if 'StreamingHistory' in filename:
                all_streaming_history.append(filename)
    return all_streaming_history

In [13]:
get_all_user_streaming_history(test_path)

['StreamingHistory0.json', 'StreamingHistory1.json']

Filter Simp Artists by All Streaming History

In [22]:
shrav_path = './data/shrav/'
filtered_tracks = []

for streaming_history_filename in get_all_user_streaming_history(shrav_path):
    df_streaming_history = pd.read_json(os.path.join(shrav_path, streaming_history_filename))
    filtered_tracks.append(find_simp_artists(df_streaming_history))
sum(filtered_tracks)

198484816

In [23]:
#Extract into function
def get_total_simp_song(user_path):
    filtered_tracks = []
    for streaming_history_filename in get_all_user_streaming_history(user_path):
        df_streaming_history = pd.read_json(os.path.join(user_path, streaming_history_filename))
        filtered_tracks.append(find_simp_artists(df_streaming_history))
    return sum(filtered_tracks)

get_total_simp_song(shrav_path)

198484816

Find Biggest Simp

In [27]:
def biggest_simp(data_path):
    def convert_ms_to_hours(ms):
        seconds = (ms/1000) % 60
        minutes = (ms/(1000 * 60)) % 60
        hours   = (ms/(1000 * 60 * 60)) % 24
        return datetime.time(int(hours), int(minutes), int(seconds))
    
    all_users_most_simp = []
    
    for user in os.listdir(data_path):
        # format: [user, track name, time]
        data = [user.capitalize()]
        simp = get_total_simp_song(os.path.join(data_path, user))
        data.append(convert_ms_to_hours(simp))
        
        all_users_most_simp.append(data)
        
    df = pd.DataFrame(all_users_most_simp, columns=['Name', 'Time'])
    
    return df.sort_values('Time', ascending=False)
    
df_most_listened_tracks = biggest_simp("./data/")
df_most_listened_tracks

       Name      Time
9       Ung  22:22:49
3    Camila  20:14:33
6      Yash  18:48:16
13    Noosh  16:45:16
5      Yesh  15:18:58
15  Raymond  12:16:59
0    Kellen  11:58:45
8     Yusra  11:21:29
2   Crystal  10:16:50
4    Andres  10:14:08
12    Hursh  09:03:31
14    Shrav  07:08:04
1       Sam  06:00:11
11    Aaron  05:18:48
10      Jly  00:23:33
7       Jxu  00:14:52
16    Sarah  00:06:06